.logo {
    margin-top: 1rem !important;
    margin-left: 1rem !important;
    width: 98%;
    box-shadow: 0 10px 10px -10px rgb(33 35 38 / 10%);
}
@media (max-width: 1065px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: flex;
    }
    
    .logo {
        margin-left: 0.25rem !important;
        width: 98%;
    }
}

@media (max-width: 650px) {
    .logo-text {
        font-size: 1.25rem
    }
}
@media (max-width: 465px) {
    .logo-text {
        font-size: 1rem;
        padding-top:0.5rem;
    }
    .text-btn-login {
        font-size: 0.85rem;
        padding: 0 !important;
    }
}
@media (min-width: 1065px) {
    .desktop {
        display: flex;
      }
      .mobile {
          display: none;
      }
}
.dropdown-toggle::after {
    display: none;
}
.navigation-menu .fa-icon {
    color: white;
    padding: 0;
    margin: 0;
}

.navigation-menu {
    float: right;
    margin-right: 1.5rem;
    margin-top: 0.75rem;
}
.text-nav {
    text-decoration: none;
    margin-top: 0.35rem !important;
    color: #2B9361;
    font-weight: bold;
}
.btn-login {
    border-radius: 30px !important;
    
}
.text-btn-login {
    font-weight: bold;
    margin: 0;
    padding: 0 0.75rem;
}