<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!-- Replace "test" with your own sandbox Business account app client ID -->
    <script
        src="https://www.paypal.com/sdk/js?client-id=AQKqCM1xXPFODfZ7jbWuLuNT8seJc4bWmtM5xnYaKoVt6nSdKl696UoKFLKtErrHNWhP6l6cWoq_MLiJ&currency=USD">
    </script>
    <!-- Set up a container element for the button -->
    <div id="paypal-button-container"></div>
    <script>
        async function GenerateAcessToken() {
            const GENERATE_ACCESS_TOKEN_URL = "https://api.sandbox.paypal.com/v1/oauth2/token"
            username = "AQKqCM1xXPFODfZ7jbWuLuNT8seJc4bWmtM5xnYaKoVt6nSdKl696UoKFLKtErrHNWhP6l6cWoq_MLiJ";
            password = "EAFHkC2GTmf_3Gfu5sQ_KDBi76YR4LYvyqnxLNxFvNh9h07gN79zxAZmcaPFzvt7nEse7EunT_M8f_Kf";
            let headers = new Headers();
            headers.set('Authorization', 'Basic ' + btoa(username + ":" + password));
            headers.set('Content-Type', 'application/x-www-form-urlencoded;charset=UTF-8');
            var accessTokenData = await fetch(GENERATE_ACCESS_TOKEN_URL, {
                method: 'post',
                headers: headers,
                body: new URLSearchParams({
                    'grant_type': 'client_credentials',
                    'ignoreCache': 'true'
                })
            }).then(function (res) {
                return res.json();
            }).then(function (orderData) {
                return orderData;
            });
            return accessTokenData;
        }
        async function createOrder(data) {
            var accessTokenData = await GenerateAcessToken()
            headers = new Headers();
            headers.set('Content-Type', 'application/json');
            headers.set('Prefer', 'return=representation');
            headers.set('Authorization', 'Bearer ' + accessTokenData.access_token);

            return fetch("https://api.sandbox.paypal.com/v2/checkout/orders", {
                method: "post",
                headers: headers,
                body: JSON.stringify({
                    "intent": "CAPTURE",
                    "purchase_units": [
                        {
                            "items": [
                                {
                                    "name": "Test 14/7",
                                    "description": "Test XL",
                                    "quantity": "1",
                                    "unit_amount": {
                                        "currency_code": "USD",
                                        "value": "60.00"
                                    }
                                }
                            ],
                            "amount": {
                                "currency_code": "USD",
                                "value": "55.00",
                                "breakdown": {
                                    "item_total": {
                                        "currency_code": "USD",
                                        "value": "60.00"
                                    },
                                    "shipping": {
                                        "currency_code": "USD",
                                        "value": "5.00"
                                    },
                                    "shipping_discount": {
                                        "currency_code": "USD",
                                        "value": "5.00"
                                    },
                                    "discount": {
                                        "currency_code": "USD",
                                        "value": "5.00"
                                    }
                                }
                            }
                        }
                    ],
                    "application_context": {
                        "return_url": "https://google.com/return",
                        "cancel_url": "https://google.com/cancel"
                    }
                })
                // use the "body" param to optionally pass additional order information
                // like product ids or amount
            })
                .then((response) => {
                    return response.json()
                })
                .then((order) => {
                    return order.id
                });
        }

        paypal.Buttons({
            // Order is created on the server and the order id is returned
            createOrder: async (data, actions) => {
                return await createOrder();
            },
            // Finalize the transaction on the server after payer approval
            onApprove: async (data, actions) => {
                var accessTokenData = await GenerateAcessToken()
                headers = new Headers();
                headers.set('Authorization', 'Bearer ' + accessTokenData.access_token);
                headers.set('Content-Type', 'application/json');
                headers.set('Prefer', 'return=representation');
                return fetch(`https://api.sandbox.paypal.com/v2/checkout/orders/${data.orderID}/capture`, {
                    method: "post",
                    headers: headers
                })
                    .then((response) => response.json())
                    .then((orderData) => {
                        // Successful capture! For dev/demo purposes:
                        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                        const transaction = orderData.purchase_units[0].payments.captures[0];
                        alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details \n${data.orderID}`);
                    });
            }
        }).render('#paypal-button-container');
    </script>
</body>

</html>