.navigationPanel {
    display: flex;
    position: absolute;
    left: 15%;
    top: 9px;
    font-size: 13px;
    z-index: 6;
    color: white;
    align-items: center;
}
@media only screen and (max-width: 830px) {
    .navigationPanel {
        left: 6%;

    }
}

.navigationPanel label {
    margin: 0px;
}

.navigationPanel select {
    padding: 0px 5px;
    min-width: 150px;
    margin-left: 10px;
}
.dnone{
    display:none;
}

