
@media (max-width: 1065px) {

    .mg-second-slide {
        /* background-color: #EDF8F4; */
        background: linear-gradient(90deg, #EDF8F4 80%, white 20%);
    }
    .mg-third-slide {
        /* background-color: #EDF8F4; */
        background: linear-gradient(90deg, white 20%, #FEFEF8 80%);
    }

} 
@media (max-width: 992px) {
    .first-slide-part1-title1 .first-slide-part1-title2 {
        font-size: 1.5rem;
    }
    .first-slide-part1-content {
        font-size: 1.25rem;
    }
    .first-slide-part1-sub-title {
        font-size: 1rem;
    }
    .first-slide-part1-sub-content {
        font-size: 1rem;
    }

} 
@media (max-width: 767px) { 
    
    .marketguide {
        margin: 1rem 1rem 1rem 1rem !important;
    }
    .order-mobile-1 {
        order: 2;
    }   
    .order-mobile-2 {
        order: 1;
    }
    
    
    .mg-first-slide  {
        padding-bottom: 0 !important;
    }


    .mg-second-slide {
        background: linear-gradient(90deg, #EDF8F4 80%, #EDF8F4 20%) !important;
        padding-bottom: 0 !important;   
    }

    .mg-third-slide {
        /* background-color: #EDF8F4; */
        background: linear-gradient(90deg, #FEFEF8 20%, #FEFEF8 80%);
    }
    
    .padding-mobile {
        padding-top: 1rem;
    }
}
@media (max-width: 650px) { 
    
}
@media (max-width: 576px) {  
    
    .text-first-slide {  
        font-size: 1.5rem !important;
        padding:  3rem 0.5rem 0rem 1.5rem !important;
    } 
    .text-mobile .btn-first-slide {
        padding: 0.25rem 0.25rem !important;
        margin-bottom: 2rem;
        margin-left: 1.5rem;
    } 
    
    
    .text-second-slide-3 {
        font-size: 1rem !important;
        padding: 0.25rem !important;
    }
     
    .column4-second-slide .text-second-slide-1 {
        padding-top: 0.52rem !important;
        font-size: 1.25rem !important;
    }
    
    .third-slide img {
        width: 90%;
        height: auto;
    }
    
    .third-slide .header-text-third-slide {
        font-size: 1.5rem;
    }
    .third-slide .link-third-slide {
        font-size: 1rem;
    }
    .third-slide h5 {
        font-size: 0.85rem;
        padding-bottom: 0.5rem !important;
    }
    
    
}

@media (max-width: 450px) {  
    .text-btn-first-slide {
        font-size: 0.85rem !important;
    }
    .text-mobile .btn-first-slide {
        padding: 0 !important;
        margin-bottom: 2rem;
        margin-left: 1rem;
    }
    
    .text-btn-end-slide {
        font-size: 1rem !important;
        padding: 0 !important;
    }
    .end-slide .btn-end-slide {
        padding: 0.5rem 1rem !important;
    }
    
    .text-end-slide-1 {
        font-size: 0.95rem !important;
    }
}

.marketguide {
    margin: 1em 4.75rem 1rem 4.75rem;
}
img {
    width: 100%;
    height: auto;
}
.mg-first-slide {
    background-color: #FEFEF8;
    box-shadow: 0 10px 10px -10px rgb(33 35 38 / 10%);
}
.slide-part {
    background-color: none;
    padding: 2rem !important;
}
.title1 {
    color: #CF6529;
    font-weight: 900 !important;
    font-style: italic;
}
.title2 {
    color: #2B9361;
    font-weight: 900 !important;
    font-style: italic;
}
.content {
    margin: 2rem 0 4rem;
}
.sub-title-orange {
    font-weight: 900 !important;
    font-style: italic;
    color: #CF6529;
}
.sub-content {
    margin-bottom: 2rem;
}
.img-first-slide-t {
    margin-bottom: 1rem;
}

.mg-second-slide {
    /* background-color: #EDF8F4; */
    background: linear-gradient(90deg, #EDF8F4 80%, white 20%);
}
.second-slide-part1 {
    background-color: none;
    padding: 2rem !important;
    align-self: center;
}
.second-slide-part2 {
    background-color: none;
    padding: 2rem !important;
}

.sub-title-2 {
    font-weight: bold;
    margin-bottom: 1rem;
}
.img-second-slide-1 {
    width: 50%;
    padding: 1.5rem 1.5rem 0;
}
.img-second-slide-2 {
    padding: 1.5rem;
}

.mg-third-slide {
    /* background-color: #EDF8F4; */
    background: linear-gradient(90deg, white 20%, #FEFEF8 80%);
}

.third-slide-3-left {
    padding-left: 2rem;
}
.header-text-third-slide {
    font-size: 2rem;
    font-weight: bold;
}
.part-2-third-slide {
    padding-left: 2rem !important;
    padding-right: 3.5rem !important;
}

.text-1rem {
    font-size: 1rem;
}
.pt-5rem {
    padding-top: 5rem;
}
.pl-4rem {
    padding-left: 4rem !important;
}
.pt-4rem {
    padding-top: 4rem !important;
}
.pb-5rem {
    padding-bottom: 5rem;
}
