@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  color: black;

  margin: 0;
  overflow-y: scroll;
}
* {
  font-family: "Open Sans", sans-serif;
}

.fa-icon {
  font-family: "FontAwesome" !important;
}
strong {
  font-weight: bold;
}
.disabled-btn{
  pointer-events: none;
  cursor: default;
  opacity: .65;
}
